
<!DOCTYPE html>

<html>
	<head>
		<title>Movie App</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<img src="..." class="img-responsive" alt="Responsive image">
	</head>
	<body>
			<%= yield %>
	</body>

</html>