<h1><%= @movie["Title"] %></h1>
<br>

<img src="<%= @movie["Poster"] == "N/A" ? "http://farm8.staticflickr.com/7172/6508022985_b22200ced0_z.jpg" : @movie["Poster"] %>" /> 
<br>
<br>

<a href="/">New Search</a>

