<div class="container">
<h1>Movie Results</h1>
<div>

	<% @movies.each do |movie| %>
		<table class="table table-striped">
			<tbody> 
				<tr>
					<td><a href="/poster/<%= movie["imdbID"]%>"> <%= movie["Title"] %>, <%= movie["Year"] %></a></td>
				</tr>
			</tbody>
		</table>
	<% end %>

</div>
	<button>
		<a href="/">New Search</a>
	</button>
</div>


